:root{
  --main_clr_dark:black;
}

#container{
  background-image: url(../img/pratiksha-mohanty-V0xp-dTS3z0-unsplash\ \(1\).jpg);
  background-size: contain;
  width: 100%;
  display: flex;
  margin: 0px;
  display: grid;
  height: auto;
  grid-template-rows: 10vh 85vH 80vh;
  grid-template-areas: 
  'hd hd'
  'a1 a1'
  'a2 a2';

}

.header{
  background-color: black;
  grid-area: hd;
  display: flex;
  justify-content: left;
  margin: 0%;

}

#img1{
  justify-content: left;
  position: sticky;
  margin: 10px;

}

#rubrik{
  grid-area: a1;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
}

.nav{
  justify-content: center;
  width: 80%;
}
ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
li{

  color: white;

  margin: 0px 30px;
}

#article2{
background-color:black;
grid-area: a2;
}

a{
  color: white;
  text-decoration: none;
}

h1{
  color: white;
}